{% extends "base.html" %}
{% block content %}

<h3>{{ conf.nome }}</h3>

<form method="POST" action="/c/{{cid}}/editar" class="d-flex gap-2 mb-3">
    <input name="nome" class="form-control" placeholder="Renomear confraternização" value="{{ conf.nome }}">
    <button class="btn btn-warning">Salvar</button>
</form>

<form method="POST" action="/c/{{cid}}/add" class="d-flex gap-2">
    <input name="nome" class="form-control" placeholder="Nome do participante">
    <button class="btn btn-success">Adicionar</button>
</form>

<hr>

<h4>Participantes</h4>
<ul class="list-group">
{% for p in participantes %}
    <li class="list-group-item d-flex justify-content-between">
        {{ p.nome }}

        {% if not p.ja_sorteou %}
            <a class="btn btn-primary btn-sm" href="/sorteio/{{p.id}}">Sortear</a>
        {% else %}
            <span class="badge bg-secondary">Já sorteou</span>
        {% endif %}
    </li>
{% endfor %}
</ul>

<a class="btn btn-secondary mt-3" href="/">Voltar</a>

{% endblock %}
