{% extends "base.html" %}
{% block content %}

<div class="d-flex align-items-center mb-3">
    <a class="btn btn-secondary mt-3" href="/c/{{ cid }}">
        <i class="bi bi-arrow-left"></i> 
    </a>
    <h3 class="m-0">{{ participante.nome }}</h3>
</div>

{% if erro %}
<div class="alert alert-danger">
    {{ erro }}
</div>
{% endif %}

{% if amigo %}
    <div class="alert alert-success">
        <h4>🎁 Você tirou: <strong>{{ amigo.nome }}</strong></h4>
    </div>
{% elif not erro %}
    <div class="alert alert-danger">
        <h4>❌ Você já visualizou seu amigo oculto anteriormente!</h4>
    </div>
{% endif %}

{% endblock %}
